dotvim/sessions/*

*.elc
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/bookmarks
emacs/emacs.d/ede-projects.el
emacs/emacs.d/.emacs.desktop
emacs/emacs.d/.emacs.desktops
emacs/emacs.d/.emacs.desktop.lock
emacs/emacs.d/.recentf
emacs/emacs.d/session.*
emacs/emacs.d/srecode-map.el
emacs/emacs.d/tramp
emacs/emacs.d/semanticdb

emacs/emacs.d/ac-dict/*
emacs/emacs.d/auto-save-list/*
emacs/emacs.d/desktop-menu/*

emacs/emacs.d/emms/*
emacs/emacs.d/eshell/*

